.detail-img-view {
    width: 100%;
    height: 75%;
    margin-left: auto;
    margin-right: auto;
}

.swiper-detail-slide {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.swiper-detail-thumb-slide {
    background-size: cover;
    background-position: center;
}

.detail-thumbs-thumbs {
    height: 25%;
    box-sizing: border-box;
    padding: 10px 0;
}

.detail-thumbs-view .swiper-slide {
    height: 100%;
    opacity: 0.4;
}

.detail-thumbs-view .swiper-slide-thumb-active {
    opacity: 1;
}

