$navbar_bg_color: #ffffff;
$common_bg_color: #ffffff;
$navbar_title_color: #000000;
$navbar_link_color: #000000;
$collection_title_color: rgba(255, 255, 255, 0.6);
$collection_dim_color: rgba(255, 255, 255, 0.8);
$collection-detail-bg-color: rgba(0, 0, 0, 255);
$font: Arial, Helvetica, sans-serif;
