---
layout: default
---
<div class="swiper-container detail-img-view">
    <div class="swiper-wrapper">
        {% for item in page.items %}
        <div class="swiper-slide swiper-detail-slide"
             style="background-image:url('{{ site.baseurl }}/assets/collections/{{ item.image }}')">
        </div>
        {% endfor %}
    </div>
</div>
<div class="swiper-container detail-thumbs-view", style="height: 20%;">
    <div class="swiper-wrapper">
        {% for item in page.items %}
        <div class="swiper-slide swiper-detail-thumb-slide"
             style="background-image:url('{{ site.baseurl }}/assets/collections/{{ item.image }}');">
        </div>
        {% endfor %}
    </div>
</div>
