<!DOCTYPE html>
<html>
    {% include head.html %}
  <body>
    {% include navigation.html %}
    {{ content }}
    <script src="/assets/js/jquery.js"></script>
    <script src="/assets/js/bootstrap.js"></script>
    <script src="/assets/js/swiper-bundle.js"></script>
    <script type="text/javascript">
     var swiper = new Swiper('.main-gallery', {
         spaceBetween: 0,
         init: false,
         centeredSlides: true,
         loop: true,
         breakpoints: {
             '@1.00': {
                 slidesPerView: {% if site.posts >=3 %} {{ site.posts }} {% else %} {{ 2 }} {% endif %},
             },
             '@0.75': {
                 slidesPerView: 2,
             },
             '@0.50': {
                 slidesPerView: 1,
             }
         }
     });
     swiper.on('init', function () {
         var currentSlide = swiper.activeIndex;
         var item = $(swiper.slides[currentSlide]).find('.dim-wrap');
         item.hide();
         var cover = $(swiper.slides[currentSlide]).find('.collection-cover-title');
         cover.show();
     });
     swiper.on('slideChange', function () {
         var currentSlide = swiper.activeIndex;
         var item = $(swiper.slides[currentSlide]).find('.dim-wrap');
         item.hide();
         var cover = $(swiper.slides[currentSlide]).find('.collection-cover-title');
         cover.show();

         var prevSlide = swiper.previousIndex;
         var item = $(swiper.slides[prevSlide]).find('.dim-wrap');
         item.show();
         var cover = $(swiper.slides[prevSlide]).find('.collection-cover-title');
         cover.hide();
     });

     swiper.init();
    </script>
    <script type="text/javascript">
     var detailThumbs = new Swiper('.detail-thumbs-view', {
         spaceBetween: 10,
         slidesPerView: 4,
         freeMode: true,
         loop: true,
         watchSlidesVisibility: true,
         watchSlidesProgress: true
     });
     var detailGallery = new Swiper('.detail-img-view', {
         spaceBetween: 10,
         loop: true,
         thumbs: {
             swiper: detailThumbs
         },
         breakpoints: {
             '@1.00': {
                 slidesPerView: 1,
             }
         }
     });
    </script>
  </body>
</html>
